* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Overall Body Styling */
body {
    margin: 0;
    background-color: mediumslateblue;
    height: 100vh;
    overflow: hidden;
}

.header {
    background-color: white;
    color: slateblue;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}

.header .timer {
    float: right;
    margin-top: 40px;
    color: white;
}

.header .scores {
    float: left;
    margin-top: 20px;
}

.scores_btn button {
    margin-top: 15px;
    font-size: 15px;
    color: indigo;
    padding: 15px 20px;
    border: indigo solid 2px;
    border-radius: 8px;
    cursor: pointer;
}

/* Start Button Styling */
/*
.start_btn button {
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 20%;
    font-size: 25px;
    color: indigo;
    padding: 15px 20px;
    border: indigo solid 5px;
    border-radius: 8px;
    cursor: pointer;
}
*/
/* Info Box Styling*/
.info_box {
    margin-left: 30%;
    margin-top: 8%;
    width: 500px;
    height: 250px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
}

/* Info Box Title Styling */
.info_box_title {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    font-size: 20px;
}

/* Info Box Rules Styling */
.info_box_text {
    padding: 15px 0px;
    font-size: 14px;
}

span {
    font-weight: 500px;
    color: red;
}

/* Quiz Container Styling */
.quiz_container {
    width: 60opx;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    overflow: hidden;
}

.quiz-header {
    padding: 30px;
}

h2 {
    padding: 10px;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 15px;
    margin: 15px 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: white;
    color: indigo;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    padding: 10px;
}

button:hover {
    background-color: gold;
}

button:focus {
    outline: none;
    background-color: #44b927;
}